# Ignorar datos crudos y procesados
data/raw/
data/clean/

# Cachés de Python y checkpoints de notebooks
__pycache__/
.ipynb_checkpoints/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

